
---
name: pre-merge-ci

on:
  pull_request:
    branches:
    - main

  push:
    branches:
    - main

  workflow_dispatch:

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit
        disable-telemetry: true

    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Install gomplate
      run: make install-gomplate

    - name: Run checks
      env:
        # Installed by previous step
        GOMPLATE: ${HOME}/go/bin/gomplate
      run: make ci
